/*styles go here*/
/* p {
  color: blue;
}  */


p {
  color: #014059;
  font-family: 'Zilla Slab', serif;
  text-align: center
}

h1 {
  font-family: 'Lora', serif;
  text-align: left;
  font-size: 12pt
}

h2 { font-family: 'Josefin Sans', sans-serif;
text-align: center;
font-size: 48pt
}

h3{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 24pt;
}
ul{
  list-style-type: none;
}

ol{
  list-style-type: none;
  font-family: 'zilla slab', serif;
  font-size: 18px;
}
body {
  background-color: #F2DDD0;
  font-family: 'Josefin sans', sans-serif;
  text-align: center;
}

img {
  border: none;
}
article{
border-bottom: 0.7em;
}
#nav {
  padding: 5px;
  list-style-type: none;
  background-color: #026873;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
#nav li {
  border-bottom: none;
  list-style-type: none;
  padding: 25px;
  display: flex;
  flex-direction: column;

}

#nav a:link, #nav a:visited{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #028C8C;

}

.bio{
  font-family: 'zilla-slab', serif;
}

.bio img{
  display: none;
}

.image {
grid-area: a;
}

.section1{
  grid-area: b;
  font-family: 'zilla-slab', serif;
  font-size: 24px;
}

.section2{
  grid-area: c;
}

.section3{
  grid-area: d;
  margin: 20px;
}

.section4{
  grid-area: e;

}
@media screen and (min-width: 599px){
#nav {
    display:flex;
    flex-direction: row;
    justify-content: center;
    }

#nav li {
  display: flex;
  flex-direction: row;
}

article{
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-areas:
  "a b b"
  "c c c"
  "d d d"
  "e e e"

}

}

@media screen and (min-width:999px) {
  article{
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-areas:
    "a b b b"
    "c c d d"
    "c c d d"
    "e e e e"

    }
}
  }
}
