/*styles go here*/
/* p {
  color: blue;
}  */


p {
  color: #014059;
  font-family: 'Zilla Slab', serif;
  text-align: center
}

h1 {
  font-family: 'Lora', serif;
  text-align: left;
  font-size: 12pt
}

h2 { font-family: 'Josefin Sans', sans-serif;
text-align: center;
font-size: 48pt
}

h3{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 24pt;
}
ul{
  list-style-type: none;
}

ol{
  list-style-type: none;
  font-family: 'zilla slab', serif;
  font-size: 18px;
}
body {
  background-color: #F2DDD0;
  font-family: 'Josefin sans', sans-serif;
  text-align: center;
}

img {
  border: none;
}
#nav {
  padding: 5px;
  list-style-type: none;
  background-color: #026873;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
#nav li {
  border-bottom: none;
  list-style-type: none;
  padding: 25px;
  display: flex;
  flex-direction: column;

}

#nav a:link, #nav a:visited{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #028C8C;

}

#involvement{
  width: 90%;
  margin: 5px auto;
  padding: 5px;
}

@media screen and (min-width: 599px){
#nav {
    display:flex;
    flex-direction: row;
    justify-content: center;
    }

#nav li {
  display: flex;
  flex-direction: row;

}
}
